@import "tailwindcss";

body{
    background: #7a3205;
}
/* Hide scrollbar but keep scroll */
.scroll-container {
    overflow-y: scroll;      /* Enable scrolling */
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;           /* Chrome, Safari, Opera */
  }
  
  /* Works in Chrome, Edge, Safari */
.scroll-thin::-webkit-scrollbar {
    width: 4px;              /* Thin scrollbar */
  }
  
  .scroll-thin::-webkit-scrollbar-track {
    background: transparent; /* No background */
  }
  
  .scroll-thin::-webkit-scrollbar-thumb {
    background: rgb(196, 107, 6);       /* White line */
    border-radius: 2px;      /* Rounded */
  }
  
  /* Firefox */
  .scroll-thin {
    scrollbar-width: thin;       /* Thin scrollbar */
    scrollbar-color: rgb(196, 107, 6) transparent; /* White line, transparent track */
  }
  